# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Resume or private attachments
*.pdf

# CSV logs
failed_emails.csv
Hr-detail.csv

# Virtual environment
venv/
.venv/

# VS Code settings
.vscode/

# Mac & system files
.DS_Store
Thumbs.db

# Log files
*.log
